* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #4F4F4F; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

.fill-none {
  fill: none; }

.icon-svg {
  width: 100%;
  height: 100%;
  display: inline-block; }

.btn, button {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  .btn:hover, .btn:focus, button:hover, button:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-radius: 2px;
  overflow: hidden; }

.btn {
  border-radius: 2px;
  overflow: hidden; }

.btn-accent {
  background: -webkit-gradient(linear, left top, right top, from(#F093FB), to(#F5576C));
  background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
  color: #fff;
  height: 60px;
  font-weight: 500; }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, right top, from(#F5576C), to(#F093FB));
    background: linear-gradient(90deg, #F5576C 0%, #F093FB 100%); }

.btn-border {
  background: -webkit-gradient(linear, left top, right top, from(#F093FB), to(#F5576C));
  background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
  padding: 2px;
  font-weight: 500; }
  .btn-border .btn-text {
    background: -webkit-linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .btn-border .btn-overlay {
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn-border:hover {
    background: -webkit-gradient(linear, left top, right top, from(#F5576C), to(#F093FB));
    background: linear-gradient(90deg, #F5576C 0%, #F093FB 100%); }

.btn-icon {
  width: 14px;
  height: 14px;
  margin: 0 0 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 1px;
  text-transform: uppercase;
  color: #333333; }

.container {
  max-width: 1470px; }

header, footer {
  padding: 20px 0; }
  header .btn, footer .btn {
    max-width: 284px;
    margin: 0 0 0 auto;
    width: 100%; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F4F4F; }
  .logo:hover {
    color: #000; }

.logo-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.text-grey {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial; }

.logo-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin: 0 10px 0 0; }

.logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.main-content {
  max-width: 470px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main {
  padding: 22px 0 245px; }
  .main h1 {
    max-width: 410px; }
  .main .btn-group {
    margin: 75px 0 0; }

.main-img {
  margin: 0 auto;
  max-width: 719px;
  width: 100%; }

.btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btn-group .btn-accent {
    max-width: 277px; }
  .btn-group .btn-border {
    max-width: 166px; }

form button {
  width: 100%;
  max-width: 284px;
  margin: 10px 0 0 auto; }

.modal-header {
  background: #F8F8F8;
  padding: 25px 20px;
  border: none; }
  .modal-header .close {
    padding: 0;
    margin: 0;
    opacity: 1;
    width: 17px;
    height: 17px;
    display: none; }
  .modal-header .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
  .modal-header .logo-title {
    font-size: 34px; }
  .modal-header .logo-description {
    display: none; }

.modal-content {
  border: none;
    border-radius: 0; }
  .modal-content h3 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin: 0 auto 40px; }

.modal-dialog {
  max-width: 800px; }

.modal-body {
  padding: 34px 20px 60px; }

.form-group {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 0 20px;
  border: 1px solid #4F4F4F;
    border-radius: 3px;
  padding: 0 23px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4F4F4F; }
  .form-group input {
    border: none;
      border-radius: 0;
    padding: 0;
    height: 19px;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: "Roboto", sans-serif; }
    .form-group input::-webkit-input-placeholder {
      color: #4F4F4F; }
    .form-group input::-moz-placeholder {
      color: #4F4F4F; }
    .form-group input::-ms-input-placeholder {
      color: #4F4F4F; }
    .form-group input::placeholder {
      color: #4F4F4F; }
    .form-group input:hover, .form-group input:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    outline: none;
    padding: 0 14px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    background: url("../img/arrow-bottom.svg") no-repeat right center;
      background-size: 14px;
    border: none;
      border-radius: 0; }
    .form-group select:hover, .form-group select:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }

label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 2px; }

input {
  border: none;
    border-radius: 0;
  padding: 0;
  height: 19px;
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif; }
  input::-webkit-input-placeholder {
    color: #4F4F4F; }
  input::-moz-placeholder {
    color: #4F4F4F; }
  input::-ms-input-placeholder {
    color: #4F4F4F; }
  input::placeholder {
    color: #4F4F4F; }
  input:hover, input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  padding: 0 14px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  background: url("../img/arrow-bottom.svg") no-repeat right center;
    background-size: 14px;
  border: none;
    border-radius: 0; }
  select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.form-group__icon {
  position: absolute;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: 0;
  top: 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .btn-group .btn-accent {
    max-width: 220px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .btn-group .btn-border {
    max-width: 120px; }
  .btn-group .btn-accent {
    max-width: 177px; }
  .btn {
    font-size: 14px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-content {
    max-width: none;
    margin: 0 auto 30px; }
  .main {
    padding: 41px 0 33px; }
    .main .btn-group {
      margin: 35px 0 0; }
    .main .box-text {
      font-size: 16px; }
    .main h1 {
      max-width: 288px; }
  .btn-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .btn-group .btn {
      margin: 0 23px 0 0; }
      .btn-group .btn:last-child {
        margin: 0; }
  h1 {
    font-size: 24px;
    margin: 0 0 12px; }
  header {
    background: #F8F8F8;
    padding: 30px 0; }
  header .btn, footer .btn {
    max-width: 79px;
    height: 40px;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(23, 32, 43, 0.25));
            filter: drop-shadow(5px 5px 10px rgba(23, 32, 43, 0.25)); }
    header .btn:before, footer .btn:before {
      content: '+';
      display: inline-block;
      font-size: 16px;
      font-weight: 500; }
    header .btn .btn-text, footer .btn .btn-text {
      display: none; }
  .logo-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin: 0 9px 0 0; }
  .logo-description {
    font-size: 10px; }
  .logo-title {
    font-size: 18px; }
  footer {
    background: #F8F8F8;
    padding: 11px 0; }
    footer .logo {
      margin: 0 auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
