@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: #fff
  color: #4F4F4F

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

.fill-none
  fill: none

.icon-svg
  width: 100%
  height: 100%
  display: inline-block

.btn, button
  outline: none
  box-sizing: border-box
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  box-shadow: none
  border: none
  font-family: $default-font
  font-size: 16px

  &:hover, &:focus
    box-shadow: none
    border: none

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child)
  border-radius: 2px
  overflow: hidden

.btn
  border-radius: 2px
  overflow: hidden

.btn-accent
  background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
  color: #fff
  height: 60px
  font-weight: 500
  &:hover
    background: linear-gradient(90deg, #F5576C 0%, #F093FB 100%)

.btn-border
  background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
  padding: 2px
  font-weight: 500
  .btn-text
    background: -webkit-linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .btn-overlay
    width: 100%
    height: 100%
    background: #fff
    display: flex
    align-items: center
    justify-content: center
  &:hover
    background: linear-gradient(90deg, #F5576C 0%, #F093FB 100%)



.btn-icon
  width: 14px
  height: 14px
  margin: 0 0 0 13px
  display: flex
  align-items: center
  justify-content: center

h1
  font-size: 36px
  font-weight: 700
  margin: 0 0 1px
  text-transform: uppercase
  color: #333333

.container
  max-width: 1470px

//header
header, footer
  padding: 20px 0
  .btn
    max-width: 284px
    margin: 0 0 0 auto
    width: 100%

.logo
  display: flex
  align-items: center
  color: #4F4F4F

  &:hover
    color: #000

.logo-title
  text-transform: uppercase
  font-size: 24px
  font-weight: bold
  background: -webkit-linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.text-grey
  background: none
  -webkit-background-clip: initial
  -webkit-text-fill-color: initial

.logo-icon
  width: 50px
  height: 50px
  min-width: 50px
  margin: 0 10px 0 0

.logo-content
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 12px
  font-weight: bold
  text-transform: uppercase


//main
.main-content
  max-width: 470px
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center

.main
  padding: 22px 0 245px
  h1
    max-width: 410px
  .btn-group
    margin: 75px 0 0

.main-img
  margin: 0 auto
  max-width: 719px
  width: 100%

.btn-group
  width: 100%
  display: flex
  align-items: stretch
  justify-content: space-between
  .btn-accent
    max-width: 277px
  .btn-border
    max-width: 166px

.mt-10
  margin-top: 10px

form
  button
    width: 100%
    max-width: 284px
    margin: 0 0 0 auto



//modal
.modal-header
  background: #F8F8F8
  padding: 25px 20px
  border: none
  .close
    padding: 0
    margin: 0
    opacity: 1
    width: 17px
    height: 17px
    display: none
  .logo
    justify-content: center
    margin: 0 auto
  .logo-title
    font-size: 34px
  .logo-description
    display: none

.modal-content
  border: none
    radius: 0
  h3
    text-align: center
    width: 100%
    font-size: 24px
    font-weight: 500
    color: #333333
    margin: 0 auto 40px

.modal-dialog
  max-width: 800px

.modal-body
  padding: 34px 0 60px

.form-group
  position: relative
  width: 100%
  height: 60px
  margin: 0 0 20px
  border: 1px solid #4F4F4F
    radius: 3px
  padding: 0 40px 0 50px
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  color: #4F4F4F
  input
    border: none
      radius: 0
    padding: 0
    height: 19px
    color: #4F4F4F
    font-size: 16px
    font-weight: 300
    outline: none
    box-shadow: none
    font-family: $default-font
    &::placeholder
      color: #4F4F4F
    &:hover, &:focus
      outline: none
      box-shadow: none
  select
    -webkit-appearance: none
    appearance: none
    outline: none
    padding: 0 14px 0 0
    box-sizing: border-box
    color: #4F4F4F
    font-size: 16px
    font-weight: 300
    font-family: $default-font
    background: url("../img/arrow-bottom.svg") no-repeat right center
      size: 14px
    border: none
      radius: 0
    &:hover, &:focus
      outline: none
      box-shadow: none

.form-group-error
  border: 1px solid #EB5757
  color: #EB5757
  input
    color: #EB5757
    &::placeholder
      color: #EB5757

label
  display: block
  font-size: 12px
  font-weight: 500
  margin: 0 0 2px

input
  border: none
    radius: 0
  padding: 0
  height: 19px
  color: #4F4F4F
  font-size: 16px
  font-weight: 300
  outline: none
  box-shadow: none
  font-family: $default-font
  &::placeholder
    color: #4F4F4F
  &:hover, &:focus
    outline: none
    box-shadow: none

select
  -webkit-appearance: none
  appearance: none
  outline: none
  padding: 0 14px 0 0
  box-sizing: border-box
  color: #4F4F4F
  font-size: 16px
  font-weight: 300
  font-family: $default-font
  background: url("../img/arrow-bottom.svg") no-repeat right center
    size: 14px
  border: none
    radius: 0
  &:hover, &:focus
    outline: none
    box-shadow: none

.form-group__icon
  position: absolute
  width: 50px
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  left: 0
  top: 0

.select2-container .select2-selection--single .select2-selection__rendered
  padding: 0
  border: none
    radius: 0
  height: auto
  width: 100%
  &:hover, &:focus
    border: none
    outline: none
    box-shadow: none

.select2-container
  width: 100%

.select2-container--default .select2-selection--single
  border: none
    radius: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  &:hover, &:focus
    border: none
    outline: none
    box-shadow: none

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: normal

.select2-container--default .select2-selection--single .select2-selection__arrow
  position: relative
  background: url("../img/arrow-bottom.svg") no-repeat right center
    size: 14px
  width: 14px
  height: 8px
  top: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center
  b
    display: none

.select2-container--default .select2-search--dropdown .select2-search__field
  border: 1px solid #BDBDBD
    radius: 3px
  padding: 0 20px
  font-style: italic
  background: #FFFFFF
  color: #828282
  font-family: $default-font
  font-size: 16px
  height: 50px
  font-weight: normal
  &::placeholder
    color: #828282

.select2-search--dropdown
  padding: 20px 20px 30px

.select2-dropdown, .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above
  background: #F8F8F8
  border: 1px solid #E0E0E0
    radius: 3px

.select2-container--default .select2-results>.select2-results__options
  font-size: 16px
  color: #828282
  transition: .3s ease
  &::-webkit-scrollbar
    width: 2px
    height: 2px
  &::-webkit-scrollbar-track
    background-color: #828282
  &::-webkit-scrollbar-track-piece
    background-color: #BDBDBD
  &::-webkit-scrollbar-thumb
    background-color: #828282
  &::-webkit-scrollbar-corner
    background-color: #BDBDBD
  &::-webkit-resizer
    background-color: #828282

.select2-results
  padding: 0 37px 25px 19px

.select2-results__option
  padding: 5px 10px

.select2-container--default .select2-results__option[aria-selected=true]
  background: transparent
  color: #828282

.select2-container--default .select2-results__option--highlighted[aria-selected]
  background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
  color: #fff

.consent
  margin: 20px 0 0
  color: #333333
  font-size: 12px

.links-accent
  display: inline-block
  color: #F5576C
  text-decoration: underline
  &:hover
    text-decoration: none
    color: #333

.form-group__icon-question
  position: absolute
  right: 19px
  top: 0
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

.line-wrapper
  font-size: 17px
  font-weight: 500
  color: #2B2736
  margin: 30px 0 0

.links-grey
  text-decoration: underline
  color: #2B2736
  display: inline-block
  &:hover
    color: #333

.btn-group
  .btn-come
    max-width: 166px
  .btn-check
    max-width: 177px

.header-box
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

.links-exit
  color: #828282
  font-size: 18px
  font-weight: 500
  display: flex
  align-items: center
  &:hover
    color: #333

.links-exit-icon
  margin: 0 11px 0 0

.form-search
  max-width: 460px
  width: 100%
  position: relative
  button
    background: transparent
    width: 28px
    height: 28px
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    right: 22px
    top: 50%
    transform: translate(0,-50%)
  label
    margin: 0
  input
    width: 100%
    padding: 0 50px 0 20px
    background: #F8F8F8
    border: 1px solid #828282
      radius: 3px
    height: 60px
    color: #828282
    font-size: 18px
    font-weight: normal
    font-style: italic
    &::placeholder
      color: #828282

.header
  background: #fff
  
.main-links
  background: #F8F8F8
  padding: 40px 0 260px
  .form-search
    max-width: 250px
    input
      height: 40px
      font-size: 14px
      padding: 0 28px 0 14px
    button
      width: 14px
      height: 14px
      right: 14px
  .btn-border
    height: 60px
    max-width: 309px
    width: 100%
    .btn-overlay
      background: #F8F8F8


.btn-burger
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 40px
  height: 27px

.nav-tabs-wrapper
  display: flex
  align-items: center

.nav-tabs
  border: none
    bottom: 2px solid #BDBDBD
  .nav-link
    padding: 0 10px 4px
    color: #BDBDBD
    font-size: 16px
    font-weight: 500
    border-radius: 0
    position: relative
    border: none
    margin: 0

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
  background: transparent
  border-color: transparent
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: -2px
    width: 100%
    height: 2px
    background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%)

  .text-gradient
    background: -webkit-linear-gradient(90deg, #F093FB 0%, #F5576C 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.tab-content
  margin: 30px 0 0

.card
  background: #F2F2F2
  border: none
    radius: 3px
  transition: .3s ease
  position: relative
  &:hover
    filter: drop-shadow(5px 5px 10px rgba(23, 32, 43, 0.25))
    .card-hover
      display: flex
  h3
    color: #333333
    font-size: 14px
    font-weight: 500
    margin: 0 0 5px
  .text
    color: #4F4F4F
    font-size: 12px
    line-height: 150%

.card-hover
  position: absolute
  left: 0
  top: 0
  width: 100%
  border-radius: 3px 3px 0 0
  background: rgba(43, 39, 54, 0.5)
  display: none
  align-items: center
  justify-content: center
  padding: 10px 0
  a
    margin: 0 12px 0 0
    &:last-child
      margin: 0

.card-img
  width: 100%
  border-radius: 3px 3px 0 0
  background: #2F80ED
  height: 200px
  display: flex
  align-items: center
  justify-content: center

.card-body
  padding: 15px 5px 11px 9px

.tags
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center

.tag
  color: #9B51E0
  font-size: 12px
  margin: 5px 0 5px 2px
  &:first-child
    margin-left: 0
  &:hover
    color: #333

.links-blue
  display: flex
  align-items: center
  color: #2F80ED
  font-size: 12px
  &:hover
    color: #333

.links-icon
  margin: 0 5px 0 0

.modal-confirm
  .modal-dialog
    max-width: 440px
  .modal-body
    padding: 31px 10px 50px
  .btn
    height: 60px
    max-width: none
    width: 100%
    margin: 2px auto 0

.mb-20
  margin-bottom: 20px

@import "media"
// Всегда в конце
